*
{
	margin: 0;
	padding: 0;
	color: #000;
}

div
{
	overflow: hidden;
	display: block;
}

body
{
	background: url('../img/top.jpg') no-repeat fixed;
	background-size: cover;
}

ul
{
	list-style: none;
}

ul > li
{
	float: left;
}

li > a
{
	display: block;
	padding: 10px 15px;
	text-align: center;
	color: #FFF;
}

li > a:hover
{
	background: #333;
	color: #FFF;
}

li > a > img
{
	width: 20px;
	height: 20px;
}

a:hover
{
	text-decoration: none;
}

p
{
	line-height: 1.5;
}

img
{
	width: 100%;
	height: auto;
}

input
{
	padding: 5px;
	border-radius: 5px;
	border: 1px solid grey;
}

input[type=button]:hover,
input[type=submit]:hover
{
	cursor: pointer;
	background: #333;
	color: #FFF;
}

a:hover
{
	color: orange;
}

div.col-sm-4,
div.col-sm-8
{
	position: relative;
}

table
{
	width: 90%;
	height: auto;
	border-collapse: collapse;
	margin: 5%;
}

th, td
{
	padding: 10px 12px;
	text-align: center;
	border-bottom: 0.2px solid #efefef;
}

tr:nth-child(even)
{
	background-color: #f2f2f2;
}

