
    <div class="row">
	<div class="col-sm-12 content" >
            <div class="col-md-6">
                 <h2>I MIEI DATI</h2>

                <p> Nome: ${utente.nome}</p>
                <p>Cognome: ${utente.cognome}</p>
		<p>Città: ${utente.city}</p>
		<p>Indirizzo: ${utente.indirizzo}</p>
		<p>Email: ${utente.email}</p>
            </div>
           
            <div class="col-md-6">
                <h2> <span id="messaggi"></span>Messaggi</h2>
                
                <table>
                    <tr>
                        <td>data</td>
                        <td>mittente</td>
                        <td>messaggio</td>
                    </tr>
                </table>
                
            </div>
                
                
            
	</div>

	<div class="col-sm-12 content">
		<h2>LE MIE STATISTICHE</h2>

		<table>
                    <tr id="thead">
				<th style="text-align:center">GIOCO</th>
				<th style="text-align:center">POSIZIONE</th>
				<th style="text-align:center">TROFEI</th>
			</tr>
			<tr>
				<td>gioco 1</td>
				<td>2</td>
				<td>trofeo</td>
			</tr>
                        
                        <tr>
				<td>gioco 1</td>
				<td>2</td>
				<td>trofeo</td>
			</tr>
                        
                        <tr>
				<td>gioco 1</td>
				<td>2</td>
				<td>trofeo</td>
			</tr>
			
		</table>
	</div>
    </div>



		

		