
 
            <h2>REGISTRAZIONE NUOVO ACCOUNT</h2>
            <form method="POST" action="" class="registrazione">
                <div>
                    <label>Nome<span id="red">*</span></label>
                    <input type="text" name="nome" >
                    <label>Cogome<span id="red">*</span></label>
                    <input type="text" name="cognome" >
                    <label>Indirizzo<span id="red">*</span></label>
                    <input type="text" name="indirizzo">
                    <label>Citta<span id="red">*</span></label>
                    <input type="text" name="citta" value="">
                </div>
                <div>
                    <label>Username<span id="red">*</span></label>
                    <input type="text" name="username" >

                    <label>Password<span id="red">*</span></label>
                    <input type="password" name="password" >

                    <label>Email<span id="red">*</span></label>
                    <input type="email" name="email" >

                    <p><span id="red">*</span> campi obligatori</p>
                </div>
		<input type="submit" name="registrati" value="Registrati">
            </form>
  
    <div class="col-md-1"></div>

  	